body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
}

.checksize {
  width: 1.5rem;
  height: 1.5rem;
}

.checkborder {
  margin-right: .625rem;
  width: 1.75rem;
  height: 1.75rem;
}

.add__todo {
  background: none;
  border: none;
  width: 100%;
  color: black;
}
.add__todo::placeholder {
  color: black;
}
.add__todo:active {
  border: none;
}